@model Bike155.Models.Ruta

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ruta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RutaDetalle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RutaDetalle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RutaDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RutaDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.UsuarioId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RutaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
