@model IEnumerable<Bike155.Models.Ruta>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RutaDetalle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RutaDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RutaDetalle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RutaDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.UsuarioId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RutaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RutaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RutaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
